{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "actions": "./state/actions",
            "utils": "./utils",
            "components": "./components"
          }
        }]
      ]
    }
  }
}
